.lrpopup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: none;
}
.lrpopupinner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 60px 40px;
}
.lrpopupcontent {
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.lrblockwrap {
  padding: 60px 80px 80px 80px;
  min-width: 640px;
  min-height: 460px;
}
a.close_lrpopup {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #eee;
  color: #ff5e5e;
  font-size: 16px;
  text-decoration: none;
  width: 27px;
  height: 27px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lrblock {
  float: left;
  width: 100%;
  font-family: "Manrope";
  display: none;
  transition: all 0.5s ease;
}
.lrblock h3 {
  color: #000;
  font-size: 21px;
  margin-bottom: 9px;
}
.lrblock p {
  color: #000;
  font-size: 16px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #bbb;
}
.lrblock .formwrap {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all ease 0.3s;

  margin-top: 20px;
}
.lrblock form {
  width: 300px;
}
.lrblock form fieldset {
  float: left;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}
.lrblock form fieldset input[type="text"],
.lrblock form fieldset input[type="email"],
.lrblock form fieldset input[type="password"] {
  float: left;
  width: 100%;
  height: 42px;
  background: #fff;
  border: none;
  outline: 2px solid #ccc;
  padding: 0 0 0 15px;
  font-size: 14px;
  /* color: #fff; */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  font-family: "Manrope";
}
.lrblock form fieldset input[type="text"]:focus,
.lrblock form fieldset input[type="email"]:focus,
.lrblock form fieldset input[type="password"]:focus {
  outline: 2px solid #bf8c4e;
}
.lrblock form a.fp {
  float: left;
  width: 100%;
  margin-top: 0;
  font-size: 14px;
  color: #bf8c4e;
}
.lrblock form a.fp:hover {
  text-decoration: underline;
}
.lrblock form button {
  float: left;
  width: auto;
  height: 52px;
  padding: 0 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "Manrope";
  background: #bf8c4e;
  border: none;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  margin-top: 20px;
}
.lrblock form button span {
  margin-left: 7px;
}
.lrblock form button:hover {
  background: #8f5815;
}
.lrbuttons {
  float: right;
  position: relative;
}
.lrbuttons a {
  float: left;
  text-align: left;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  z-index: 7;
}
.lrbuttons a.login_btn {
  margin-right: 45px;
}
.lrbuttons a.login_btn:after {
  position: absolute;
  right: -25px;
  content: "/";
}
.lrbuttons a:hover,
.lrbuttons a.active {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

@media (max-width: 1040px) {
  .lrpopupinner {
    padding: 50px 40px;
    background: rgba(0, 0, 0, 0.5);
  }
  .lrblockwrap {
    padding: 40px 40px 40px 40px;
    min-width: 200px;
    min-height: 100px;
  }
  .lrblock form {
    width: 100%;
    max-width: 280px;
  }
  .lrblock form button {
    height: 48px;
    padding: 0 25px;
    font-size: 15px;
    margin-top: 20px;
  }
  .lrbuttons a {
    font-size: 15px;
  }
  .lrbuttons a.login_btn {
    margin-right: 30px;
  }
  .lrbuttons a.login_btn:after {
    position: absolute;
    right: -18px;
    content: "/";
  }
}
